@page 
@using Pages.Student
@model IndexModel

<h1></h1>

<a asp-page="./Create" asp-route-id="Model.Students.Id">Add a person</a>
<form>
    <span>Search by LastName</span><br>
    <input type="text" name="searchString" value="" />
    <button style="width:100px; height:30px; margin-top:5px;" type="submit">Search</button>
</form>
<form method="post">
    <span>Search Greater or Less</span><br>
    <input type="text" name="GPA" value="" />
    <button style="width:100px; height:30px; margin-top:5px; " asp-page-handler="Greater" type="submit" value="filter">Greater</button>
    <button style="width:100px; height:30px; margin-top:5px; " asp-page-handler="Less" type="submit" value="filter">Less</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].GPA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPA)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>